span a {
  display: block;
  color: white;
  padding: 16px;
  float: left;
  text-decoration: underline;
}

span a:hover {
  color: white;
}
.footer {
  background-color: #313a5f;
  height: 50px;
  display: flex;
}

.options {
  margin: auto;
  text-align: center;
}

html {
  background-color: aliceblue;
}
