<nav
  style="margin: auto; text-align: center"
  aria-label="Page navigation example"
>
  <ul
    class="pagination"
    style="justify-content: center; list-style: none"
    #listgroup
  >
    <li class="page-item">
      <a class="page-link" (click)="updatePage(0, itemCount.value)">
        <span aria-hidden="true">First</span>
      </a>
    </li>
    <li class="page-item">
      <a
        class="page-link"
        (click)="updatePageNumber('prev')"
        aria-label="Previous"
      >
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item" *ngFor="let num of currentPages">
      <a class="page-link" (click)="updatePage(num, itemCount.value)">{{
        num
      }}</a>
    </li>
    <li class="page-item">
      <a class="page-link" (click)="updatePageNumber('next')" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" (click)="updatePage(maxPages, itemCount.value)">
        <span aria-hidden="true">Last</span>
      </a>
    </li>
  </ul>
  <div class="item-count-selection" style="margin: 10px; font-size: 12px">
    <small class="text-primary" style="margin-right: 5px">Items per page</small>

    <select
      (change)="updatePage(0, itemCount.value)"
      #itemCount
      name="page"
      id="page"
      [(ngModel)]="deafultItemsPerPage"
    >
      <option *ngFor="let one of pageCountArray" [value]="one">
        {{ one }}
      </option>
    </select>
  </div>
</nav>
