.container-fluid {
  background-color: aliceblue;
  padding-bottom: 50px;
  min-height: 100vh;
}

.card-deck {
  padding-left: 40px;
  margin: auto;
}

.hide-deck {
  opacity: 0;
}

.error {
  margin-top: 50px;
}
